<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="script/angular.js"></script>
    <script>
        var app=angular.module('myapp',[]);
        app.controller('home',function ($scope) {
        $scope.products=[{id:1,Name:"Samsung Tv",Price:40000,Mfd:new Date('2018/10/01')},
                        {id:2,Name:"Shoes",Price:2000,Mfd:new Date('2018/09/02')}];
        $scope.fieldName='price';
        $scope.reverse=false;

        $scope.sort=function (fieldname) {
            $scope.fieldName=fieldname;
            $scope.reverse=fieldname;
            ($scope.fieldName===fieldname)?!$scope.reverse:$scope.reverse;
        }
        })
        </script>
</head>
<body ng-app="myapp" ng-controller="home">
<table border="1" width="500" align="center">
    <th><a href="#" ng-click="sort('id')">Product Id</a></th>
    <th><a href="#" ng-click="sort('Name')">Name</a></th>
    <th><a href="#" ng-click="sort(Price)">Price</a></th>
    <th><a href="#" ng-click="sort(Mfd)">Manufacture</a></th>
<tr ng-repeat="item in products | orderBy:fieldname:reverse" >
    <td>{{item.id}}</td>
    <td>{{item.Name | uppercase}}</td>
    <td>{{item.Price | currency:'&#8377;':2}}</td>
    <td>{{item.Mfd | date:'MMMM d,YYYY'}}</td>
</tr>
</table>
</body>
</html>