<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Js</title>
    <script src="script/angular.js"></script>
</head>
<body ng-app>
<fieldset>
    <legend>select hobbies</legend>
    Are You a Music Lover?
    <input type="checkbox" ng-model="hobbie">Yes
    <ol>
        <input type="checkbox" ng-model="all">Select All
        <li><input type="checkbox" ng-checked="all">Musci</li>
        <li><input type="checkbox" ng-checked="all">Moive</li>
        <li><input type="checkbox" ng-checked="all">Sports</li>
    </ol>
</fieldset>

</body>
</html>